/* Header css */

#divHeader {
  font-family: 'Josefin Sans';
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 56px;
}

.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  color: black;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
  padding: 4px;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: black;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #b82243;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #7e2d3f;
}

.navigation-menu li.active {
  background-color: #b3aaac;
  border-radius: 9px;

}

.navigation-menu li:hover {
  background-color: #958689;
  border-radius: 20px;
}

.AboutUs {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.divServices {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 100%;
  height: fit-content;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.aboutText {
  padding-left: 20px;
}

.sidepadding {
  padding-left: 4%;
  padding-right: 4%;
}

.headColor {
  color: #b82243;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.frmClass label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}
.divButtons
{
  display:inline-block;
  width:100%;
  margin: auto;
}
.frmClass input,
.frmClass textarea,
.frmClass select {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
}

.frmClass select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
  background-size: 20px;
  padding-right: 40px;
}

.abtImage {
  width: 20%;
  padding-left: 4%;
}

.abtText {
  width: 67%;
  padding-right: 4%;
}

ol li {
  padding-bottom: 3px;
}

.serviceDiv {
  margin: auto;
  width: 90%;
  text-align: center;
  padding-bottom: 4%;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 1% 0;
  text-align: center;
}

/* Style for the first section */
.service-section {
  flex-basis: 50%;
  padding: 40px 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

/* Style for the second section */
.service-section:nth-child(2),
.service-section:nth-child(3) {
  background-color: #e9e9e9;
}

.carousel.carousel-slider {
  width: 90%;
}

/* footer css */
.footerAboutUS {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 98%;
  background-color: #f4f4f4;
  padding: 1%;
  color: black;
}

.footerHeading {
  font-weight: bold;
}

.column {
  flex: 33.33%;
  text-align: center;
}

.accordion__button {
  padding: 20px !important;
  width: 97% !important;
}

#buttons {
  font-weight: bold;
  font-family: "Arial", serif;
  padding: 8px 40px;
  background: #b82243;
  border: 0px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
  box-shadow: 0 0 4px rgba(0, 0, 0, .75);
  color: #FFFAFA;
}

#buttons:hover {
  background-color: #958689;
  outline: none;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .75);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .75);
  box-shadow: 0 0 1px rgba(0, 0, 0, .75);
}

#buttons:focus {
  outline: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 100%;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
}
 .card-textList {
  font-size: 16px;
  color: #000000;
  width: 100%;
  max-width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointmentFrm {
  margin-right: 20px; /* Add some margin between the columns */
  width:50%;
}

.companyDetails {
  flex: 1;
}
.tblHours {
  width: 70%;
  padding: 30px;
  border-style: outset;
  margin: auto;
  text-align: center;
}

.details {
  padding: 30px;
  border-style: outset;
  margin: auto;
  text-align: center;
  width: 60%;
}
th {
  text-align: center;
}
.flex-container>div {
  margin: 10px;
  padding: 20px;
}

.services li {
  margin-bottom: 1%;
}

.divCarousel {
  width: auto;
  margin: 0 4%;
  padding-top: '2%';
}

.btnService {
  margin-left: 4%;
}

.divUl {
  text-align: center;
  margin: auto;
}

footer {
  background-color: #f4f4f4;
  text-align: center;
  color: #000000;
  width: 100%;
}

a {
  color: #000000;
}

.breadcrumb-active {
  color: #b82243;
}


.breadcrumb-hide {
  display: none;
}

.breadcrumb-arrow {
  margin-left: 10px;
  margin-right: 10px;
}

.breadcrumb-arrow-hide {
  display: none;
}

#brdCrumb {
  padding-bottom: 1%;
  padding-top: 1%;
  box-shadow: 2px 2px 2px 2px rgb(9 9 9 / 23%);
  display: flex;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  
  .navigation {
   height: 20px;
  }
  .navigation-menu ul {
    position: absolute;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: black;
    border-top: 1px solid black;
    top: 0px;
    margin-top: 36px;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #958689;
  }

  .navigation-menu ul {
    display: none;
  }

  .navigation-menu.expanded ul {
    display: block;
    height: auto;
  }

  .AboutUs {
    height: auto;
    flex-direction: column;
    padding-right: 4%;
  }

  .card {
    width: 80%;
  }

  form {
    padding: 10px;
  }

  #divHeader {
    padding-top: 12%;
  }

  #container,
  .footerSub {
    font-size: 22px !important;
  }

  .service-section {
    flex-basis: 100%;
  }

  .footerAboutUS {
    display: grid;
    text-align: center;
    font-size: 22px !important;
  }image.png
  .btnForm {
    width: 48% !important;
  }

  .btnService {
    width: auto !important;
  }

  .divCarousel {
    width: 100%;
  }

  .abtImage {
    width: 97%
  }

  .abtText {
    width: 100%
  }

  .accordion__button {
    width: 87% !important;
  }

  .accordion {
    width: 87%;
  }

  #brdCrumb {
    margin-top: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 22px !important;
  }
  .appointmentFrm {
   
    width: 100%;
  }
  .divButtons {
  margin-left: 15%;
}

.service-section:nth-child(4) {
  background-color: #e9e9e9;
}
.service-section:nth-child(3){
  background-color: #f9f9f9;
}
}